extends layout

block layout-content
  
    div.grid-container
        a(href="/add-product")
            div.Message
                div.Title
                  h3 Add Product &#8594;
        a(href="/scan-product")
            div.Message
                div.Title
                  h3 Scan Product &#8594;
         
    div.NavButtons
      a(href="/products")
          div.NavButton View All Products!